.horizontal-scroll h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.horizontal-scroll {
}

.scroll-container {
  display: flex;
  overflow-x: scroll; /* 자동으로 스크롤바가 나타날 때만 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  gap: 15px;
  padding-bottom: 10px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리에서 스크롤바 숨기기 */
}

.card {
  flex: 0 0 auto; /* 카드 크기 고정 */
  width: 180px; /* 카드 너비 */
  overflow: hidden;
  text-align: left;
}

.first-card {
  margin-left: 20px; /* 첫 번째 카드 왼쪽 여백 */
}

.last-card {
  margin-right: 20px; /* 마지막 카드 오른쪽 여백 */
}

.card-image {
  width: 172px; /* 이미지가 카드 너비에 맞도록 설정 */
  height: 172px;
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 10px;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.card-description {
  font-size: 14px;
  color: #666;
  line-height: 1.4;
  display: -webkit-box; /* Flexbox 대체 */
  -webkit-line-clamp: 2; /* 최대 2줄 표시 */
  -webkit-box-orient: vertical; /* 세로 방향으로 설정 */
  overflow: hidden; /* 초과 내용 숨김 */
  text-overflow: ellipsis; /* ... 표시 */
  margin: 0;
}
