.lifeshot-frame1 {
    width: 300px;
    max-width: 466px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.lifeshot-frame2 {
    width: 300px;
    max-width: 466px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.lifeshot-frame3 {
    width: 300px;
    max-width: 466px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.lifeshot-frame4 {
    width: 300px;
    max-width: 466px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.lifeshot-frame-container {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--frame-background-color, #ffffff);  /* 기본값으로 #89B5AF 사용 */
    padding: 5px 5px 50px;
    margin-top: 20px;
    aspect-ratio: 3/4;  /* 세로로 긴 비율 */
}
.lifeshot-frame-container2 {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--frame-background-color, #ffffff);  /* 기본값으로 #89B5AF 사용 */
     padding: 5px 5px 50px;
     margin-top: 20px;
     aspect-ratio: 3/4;  /* 세로로 긴 비율 */
 }
.lifeshot-frame-container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ✅ 가로 2개씩 배치 */
     justify-content: center;
     align-items: center;
     background-color: var(--frame-background-color, #ffffff);  /* 기본값으로 #89B5AF 사용 */
     padding: 5px 5px 50px;
     gap: 10px; /* ✅ 요소 간 간격 추가 */
     margin-top: 20px;
     aspect-ratio: 3/4;  /* 세로로 긴 비율 */
 }

.lifeshot-frame-container3 {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--frame-background-color, #ffffff);  /* 기본값으로 #89B5AF 사용 */
     padding: 5px 5px 50px;
     margin-top: 20px;
     aspect-ratio: 3/4;  /* 세로로 긴 비율 */
 }

.lifeshot-frame-item {
    width: 100px;
    height: 100px;
    background-color: rgb(76, 80, 79);
    border: 1px solid rgb(189, 196, 196);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.lifeshot-frame-bg{
    margin-top: 20px;
    margin-bottom: 43px;
    width: 90%;
    aspect-ratio: 3/4;
    background-color: rgb(76, 80, 79);
}

.lifeshot-frame-bg4{
    width: 100%;
    aspect-ratio: 2.8/4;
    background-color: rgb(76, 80, 79);
}

.lifeshot-frame-bg2{
    width: 90%;
    margin-top: 9.25px;
    aspect-ratio: 4/3;
    background-color: rgb(76, 80, 79);
}

.lifeshot-frame-bg3{
    width: 63%;
    margin-top: 6.5px;
    aspect-ratio: 7/5;
    background-color: rgb(76, 80, 79);
}