.header {
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 11px;
  margin: 0px;
}

h2 {
  margin: 0px;
  padding-bottom: 11px;
}

h3 {
  padding-left: 27px;
  padding-right: 27px;
  margin: 9px;
}
