.header1 {
  display: block;
  padding: 20px;
  font-weight: bold;
  position: relative;
  width: 90%;
  
  /* 가운데 정렬 */
  margin: 0 auto; /* 좌우 마진을 auto로 설정하여 가운데 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */

  /* 한 줄 제한 및 넘치면 ... 처리 */
  white-space: nowrap;  /* 줄 바꿈 방지 */
  overflow: hidden;      /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분 "..." 처리 */
}




.back-button {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.back-button img {
  width: 24px;
  height: 24px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
