

.name{
  color: rgb(0, 0, 0);
  font-size: 20px !important;
  font-weight: 700;
  margin: 5% 10% 0% 10%;
  
  word-wrap: break-word;
}

.date{
  display: flex;
}
.startdate{
  margin-bottom: 10px;
}
.address{
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  
}

.pin{
  width: 20px;
  height: 20px;
  margin-top: 2px;
  transform: translateX(-5px);
 
}

.opentime{
  display: flex;
  gap: 5px;
  margin: 0px 0px 20px;
}
.detail-date{
  display: flex;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 1px;
  line-height: 1.6; 
}

.detail-date1 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄까지만 표시 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 1.6;
  letter-spacing: 1px;
}


