.person-selector::-webkit-scrollbar {
  display: none; /* 크롬, 사파리에서 스크롤바 숨기기 */
}

.person-selector {
  display: flex;
  align-items: center;
  padding: 20px 0 12px 20px;
  width: 100%;
  overflow-x: scroll; /* 자동으로 스크롤바가 나타날 때만 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.person-circle {
  width: 45px;
  height: 45px;
  border: 2px solid #d3d5d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease;
}

.person-circle:hover {
  border-color: #9b72ff;
}

.person-circle.person-selected {
  background-color: #9b72ff;
  color: #fff;
  border-color: #9b72ff;
}
