.list-popup-card {
  display: flex;
  padding: 4vw;
  border-bottom: 1px solid #eaeaea;
}

.list-popup-card:last-child {
  border-bottom: none;
}

.list-popup-image {
  width: 26vw;
  height: 26vw;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 5vw;
}

.list-popup-content {
  flex-grow: 1;
  position: relative;
}

.list-popup-title {
  font-size: 3.5vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.list-popup-time {
  font-size: 14px;
  color: #757575;
}

.list-popup-icon {
  margin-right: 5px;
}

.list-popup-rating {
  display: flex;
  align-items: center;
}

.list-popup-star {
  color: #ffc107;
  font-size: 18px;
  margin-left: 5vw;
  margin-right: 5px;
}

.popup-score {
  font-size: 16px;
  font-weight: bold;
}

.time-text span {
  display: block;  /* 각 span을 블록 레벨로 만들어 줄바꿈 */
  line-height: 1.5;  /* 줄 간격 조정 */
}

.popup-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #666;
}