.search-header {
  position: sticky; /* 스크롤 시 고정 */
  top: 0; /* 상단에 고정 */
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 */
  background-color: white; /* 헤더 배경색 */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가 */
  width: 100%;
  padding-left: 25px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 10px 2.5%;
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 9999px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.05); /* 위, 아래 그림자 추가 */
}

.search-icon {
  width: 2.5vw;
  height: 2.5vw;
  min-width: 14px;
  min-height: 14px;
  max-width: 20px;
  max-height: 20px;
  color: #9ca3af;
  margin-right: 8px; /* 아이콘과 입력 필드 사이에 간격 추가 */
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: clamp(14px, 2.5vw, 20px);
  color: #374151;
  width: 100%;
}
